name: api apollo studio

on:
  push:
    branches:
      - main

env:
  node-version: 18
  mongodb-version: 6
  DATABASE_URL: mongodb://localhost:27017/test

jobs:
  filter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      api: ${{ steps.changes.outputs.api }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/filter.yml

  publish:
    runs-on: ubuntu-latest
    env:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
    needs: filter
    if: needs.filter.outputs.api == 'true'
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node-version }}

      - name: setup pnpm
        uses: pnpm/action-setup@v2.2.4
        id: pnpm-install
        with:
          run_install: false
          version: 7.26.3

      - name: get pnpm store
        id: pnpm-cache
        run: echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-store-

      - name: setup mongodb
        uses: supercharge/mongodb-github-action@v1.9.0
        with:
          mongodb-version: ${{ env.mongodb-version }}
          mongodb-port: 27017
          mongodb-db: test

      - name: install
        run: pnpm install --frozen-lockfile

      - name: setup prisma
        run: pnpm api prisma:gen

      - name: generate graphql schema
        run: timeout 30 pnpm api dev
        continue-on-error: true

      - name: publish
        run: pnpm api apollo:rover

  api-apollo-studio-check:
    runs-on: ubuntu-latest
    needs: publish
    if: ${{ ! failure() }}
    steps:
      - name: check
        run: echo "publish is successfully executed."
